<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Job Board Listings</h1></div>
      <form action="/listings" method="post">
        <div class="form-group">
          <label for="job-title">Job Title</label>
          <input type="text" name="job-title" id="job-title" class="form-control">
        </div>
        <div class="form-group">
          <label for="job-description">Job Description</label>
          <input type="textarea" name="job-description" id="job-description" class="form-control">
        </div>
        <div class="form-group">
          <label for="job-contact-name">Job Contact Name</label>
          <input type="text" name="job-contact-name" id="job-contact-name" class="form-control">
        </div>
        <div class="form-group">
          <label for="job-contact-email">Job Contact Email</label>
          <input type="text" name="job-contact-email" id="job-contact-email" class="form-control">
        </div>
        <div class="form-group">
          <label for="job-contact-phone">Job Contact Phone</label>
          <input type="text" name="job-contact-phone" id="job-contact-phone" class="form-control">
        </div>
        <button type="submit" name="job-submit" id="job-submit" class="btn btn-info">Submit New Job</button>
      </form>
        
    </div>
  </body>
</html>
